<div class="form-group" ng-controller="CommentCtrl">

    <div class="panel pre-scrollable">
        <div class="feed-activity-list"
             ng-repeat="comment in itemComment">

            <div class="feed-element">

                <a ui-sref="profile.specificUser({userToBeViewed: comment.commentUserId})" class="pull-left">
                    <img alt="image" class="img-circle" src="img/space_invaders_big.jpg">
                </a>

                <div class="media-body ">
                    <small class="pull-right">
                        {{commentDateDifference(comment.commentDateTime)}} ago
                    </small>
                    <strong>{{comment.userName}}</strong> posted a message
                    <br>
                    <small class="text-muted">{{comment.commentDateTime | date:'yyyy-MM-dd HH:mm'}}
                    </small>
                    <div class="well">
                        {{comment.commentBody}}
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="ibox-content"><label>Make a comment...</label>
        <form name='addComment' ng-submit="addComments()">

                                <textarea ng-model="commentBody"
                                          placeholder="Post anything on your mind!"
                                          class="form-control" required=""></textarea>

            <button type="submit" class="btn btn-primary">Post Comment</button>

        </form>
    </div>
</div>