<div class="ibox-title">
    <h3>{{selectedItem.title}} |
        <small>{{selectedItem.description}}</small>
        <div ibox-tools></div>
    </h3>
</div>


<div class="ibox-content">

    <div class="form-group" ng-hide="isEventDisabled()"><label>Just For: </label>

        <div class="radio"><label> <input type="radio" value="friends" id="friendsRadio"
                                          ng-checked="true"
                                          name="privacyRadios"
                                          ng-model="selectedItem.eventPrivacy">Friends</label>
        </div>
        <div class=" radio"><label> <input type="radio" value="public" id="publicRadio"
                                           name="privacyRadios"
                                           ng-model="selectedItem.eventPrivacy">Public</label>
        </div>
        <select class="form-control MultiSelect" data-placeholder="Roles"
                ng-model="selectedItem.eventRoles"
                ng-options="roles for roles in eventRoles" multiple="multiple" multiselect-dropdown>
        </select>
    </div>
</div>

<div class="ibox-content">
    <div class=" form-group"><label>Place</label> <input type="text"
                                                         placeholder="Enter a location for your event"
                                                         ng-model="selectedItem.eventLocation"
                                                         class="form-control"
                                                         ng-disabled="isEventDisabled()"
                                                         required="">
    </div>


    <div class=" form-group"><label>Time</label>

        <div class='input-group date'>
            <input type='datetime' class='form-control' date-time
                   view='date'
                   ng-model="selectedItem.eventDate"
                   ng-disabled="isEventDisabled()"
                   required=""><span
                class='input-group-addon'><i class='fa fa-calendar'></i></span></div>
    </div>
</div>

<div class="ibox-content">
    <freebase-tags tag-context="selectedItem.eventTagContext" add-tag-callback="addEventTagForView"
                   is-create='isCreateObject'></freebase-tags>
</div>


<div class="ibox-content">

    <a class="btn btn-primary pull-right"
       ng-click="joinEvent()"
       ng-hide="isCurrentUserAttended()"><i
            class="fa fa-thumbs-up"></i>Join</a>

    <a class="btn btn-danger pull-right"
       ng-click="leaveEvent()"
       ng-show="isCurrentUserAttended()"><i
            class="fa fa-thumbs-down"></i>Leave</a>
    <br>

</div>


<div class="ibox-content">
    <section ng-controller="TabCtrl">

        <div class="ibox-content">
            <tabset>
                <tab ng-click="selectTab(1)">
                    <tab-heading>
                        Comments
                    </tab-heading>

                </tab>

                <tab ng-click="selectTab(2)">
                    <tab-heading>
                        Participants
                    </tab-heading>

                </tab>
            </tabset>
        </div>

        <div class='form-group' ng-show="isSelected(1)">

            <comment-template item-comment="selectedItem.eventComments"
                              add-comment-callback="addEventCommentForView"></comment-template>
        </div>

        <div class='form-group' ng-show="isSelected(2)">
            <h4>Participants</h4>
        </div>

    </section>

</div>