<div>
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3>Events
                    <small></small>
                </h3>
            </div>
            <div class="ibox-content">

                <div class="list-group">
                    <a ng-repeat="(key,event) in events" class="list-group-item" ng-click="" href="">
                        <h3 class="list-group-item-heading">{{event.eventTitle}}</h3>
                        <p class="list-group-item-text">{{event.eventDesc }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
