<div ng-controller="CurrentGroupsCtrl">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3>Groups
                    <small>every group you can find</small>
                </h3>
            </div>
            <div class="ibox-content">
                <item-preview selected-item ="selectedGroup" selected-item-id="selectedGroupId" previewed-item="groups"></item-preview>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <dynamic-area ng-model="selectedGroup" selected-item-id="selectedGroupId" area-type="'group'"></dynamic-area>
        </div>
    </div>
</div>