<div class="wrapper wrapper-content animated fadeInRight"  ng-controller="CustomTypesCtrl">
    <div class="row show-grid">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create an Event</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="radio"><label> <input type="radio" checked="" value="friends" id="friendsRadio" name="privacyRadios">Friends</label></div>
                    <div class="radio"><label> <input type="radio" value="public" id="publicRadio" name="privacyRadios">Public</label></div>
                    <div class="form-group"><label>Title</label> <input type="text" ng-model="createdGroup.title" placeholder="Enter a Title for your event" class="form-control"></div>
                    <div class="form-group"><label>Description</label> <textarea ng-model="createdGroup.description" placeholder="Enter some description of your event" class="form-control"></textarea></div>
                </div>
                <div class="ibox-content" ng-repeat="(key,value) in createdGroup.contexts">
                    <h2>{{key}}</h2>
                    <button ng-repeat="tag in value" class="btn btn-w-m btn-info" ng-click="removeTag()">{{tag.tagName}}</button>
                </div>

                <input type="text" ng-model="tags"
                       typeahead="contextHead.id as contextHead.name for contextHead in getGroupTagContext($viewValue)"
                       class="form-control" typeahead-loading="loadingLocations" typeahead-min-length="3"
                       typeahead-wait-ms="300" typeahead-on-select="addGroupTag($item)"
                       id="semanticTagName" placeholder="Enter tag...">

                <ul class="tag-list" style="padding: 0">
                    <li><a href=""><i class="fa fa-tag"></i> asdasdsadasdasd in qweqweqweqwq<i class="fa fa-times"></i></a></li>
                    <li class="btn btn-w-m btn-info"><i class="fa fa-tag"></i> Lorem ipsum</li>
                    <li><a href=""><i class="fa fa-tag"></i> Passages</a></li>
                    <li><a href=""><i class="fa fa-tag"></i> Variations</a></li>
                </ul>

                <div class="form-group"><label>User Field Name</label> <input type="text" ng-model="userFieldName" placeholder="Enter User Field Name" class="form-control"></div>

                <div class="checkbox"><label> <input icheck type="checkbox" ng-click="updateSelection($event)">Use Custom Types</label></div>
                <select chosen id="types" class="chosen-select" style="width:350px;" tabindex="4" ng-model="userFieldType" ng-options="value.name for value in types">
                </select>
                <button class="btn btn-primary" ng-click="createUserField()">Create Group User Addable Field</button>
                <div>
                    <script type="text/ng-template" id="field_renderer.html">
                        <div ui-tree-handle class="tree-node tree-node-content">
                            <a class="pull-right btn btn-white btn-xs" data-nodrag ng-click="removeUserField(node)"><span class="fa fa-trash"></span></a>
                            <div >{{node.name}}(Type:{{node.type.name}})</div>
                        </div>
                    </script>
                    <div ui-tree id="tree-root">
                        <ol ui-tree-nodes ng-model="createdGroup.fields">
                            <li ng-repeat=" node in createdGroup.fields" ui-tree-node ng-include="'field_renderer.html'"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Custom Types</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content" >
                    <tabset>
                        <tab ng-repeat=" value in $root.customTypes">
                            <tab-heading>
                                {{value.name}}<a class="pull-right btn btn-white btn-xs" data-nodrag ng-click="removeTab(value)"><span class="fa fa-trash"></span></a>
                            </tab-heading>
                            <type-template type-parameter ="value"></type-template>
                        </tab>
                        <button class="btn btn-w-m btn-primary" ng-click="addCustomType()"><i class="fa fa-plus"></i> Add Type</button>
                    </tabset>
                </div>
            </div>
        </div>
        <form class="col-lg-12" ng-submit="saveChanges()">
            <button type="submit" class="btn btn-primary btn-sm btn-block" ><i class="fa fa-save"></i> Save Your Changes</button>
            <div ng-show="loading" class="sk-spinner sk-spinner-double-bounce">
                <div class="sk-double-bounce1"></div>
                <div class="sk-double-bounce2"></div>
            </div>
        </form>
    </div>
</div>


<style>
    .angular-ui-tree-handle {
        background: none repeat scroll 0 0 #f3f3f4;
        border: 1px dashed #e7eaec;
        color: inherit;
        padding: 10px;
        font-weight: normal;
    }
    .angular-ui-tree-handle:hover {
        font-weight: bold;
        cursor: pointer;
    }
    .angular-ui-tree-placeholder {
        background: #f0f9ff;
        border: 1px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .group-title {
        background-color: #687074 !important;
        color: #FFF !important;
    }
    .tree-node {
        background: none repeat scroll 0 0 #f3f3f4;
        border: 1px dashed #e7eaec;
        color: inherit;
        padding: 10px;
        border-radius: 3px;
    }

    .tree-node .btn {
        min-width: 22px;
        margin-right: 4px;
    }

    .tree-node-content {
        margin: 5px 5px 5px 0;
    }

    .tree-handle {
        background: none repeat scroll 0 0 #f3f3f4;
        border: 1px dashed #e7eaec;
        color: inherit;
        padding: 10px;
    }

    .angular-ui-tree-handle:hover {
    }

    .angular-ui-tree-placeholder {
        background: #f0f9ff;
        border: 1px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>