<div ng-controller="GroupViewCtrl">
    <div>
        <script type="text/ng-template" id="view_renderer.html">
            <div ui-tree-handle class="tree-node tree-node-content">
                <add-node-info node-value="node" node-type="'view'"></add-node-info>
            </div>
        </script>
        <div ui-tree id="tree-root">
            <ol ui-tree-nodes ng-model="content">
                <li ng-repeat="node in content.data" ui-tree-node ng-include="'view_renderer.html'"></li>
            </ol>
        </div>
    </div>
</div>