<div class="list-group" ng-if="!arrayIterate">
    <a ng-repeat="(key, value) in previewedItem" ng-class="getClass(value)" ng-click="show(value,key)" href="">
        <h3 class="list-group-item-heading">{{value.ownerName}}'s {{getItemType(value)}} : {{value.title}}</h3>
        <p class="list-group-item-text">{{value.description }}</p>
    </a>
</div>
<div class="list-group" ng-if="arrayIterate">
    <a ng-repeat="item in previewedItem" ng-class="getClass(item.value)" ng-click="show(item.value,item.key)" href="">
        <h3 class="list-group-item-heading">{{item.value.ownerName}}'s {{getItemType(item.value)}} : {{item.value.title}}</h3>
        <p class="list-group-item-text">{{item.value.description }}</p>
    </a>
</div>