<div ng-controller="HomeCtrl">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3>Recommended Groups
                    <small>every group you can find</small>
                </h3>
            </div>
            <div class="ibox-content">
                <div class="list-group">
                    <a ng-repeat="group in groups" ng-class="getClass(group)" ng-click="show(group,key)" href="">
                        <h3 class="list-group-item-heading">{{group.ownerName}}'s group : {{group.title}}</h3>
                        <p class="list-group-item-text">{{group.description }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3>Recommended Polls
                    <small>every group you can find</small>
                </h3>
            </div>
            <div class="ibox-content">
                <div class="list-group">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3>Recommended Events
                    <small>every group you can find</small>
                </h3>
            </div>
            <div class="ibox-content">
                <div class="list-group">
                </div>
            </div>
        </div>
    </div>
</div>