<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Picture upload</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Upload a Profile Picture</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dropzone Area</h5>

                    <div ibox-tools></div>
                </div>
                <div flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope" ng-controller="PictureUploadCtrl">
                    <h3>
                        <a name="image-example" class="anchor" href="#image-example"><span class="octicon octicon-link"></span></a>Single Image upload</h3>
                    <div class="thumbnail ng-hide" ng-show="!$flow.files.length">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
                    </div>
                    <div class="thumbnail" ng-show="$flow.files.length">
                        <img flow-img="$flow.files[0]">
                    </div>
                    <div>
                        <span class="btn btn-primary ng-hide" ng-show="!$flow.files.length" flow-btn="">Select image<input type="file" style="visibility: hidden; position: absolute;"></span>
                        <button class="btn btn-primary" ng-click="uploadImage()">Upload</button>
                        <span class="btn btn-info" ng-show="$flow.files.length" flow-btn="">Change<input type="file" style="visibility: hidden; position: absolute;"></span>
  <span class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">
    Remove
  </span>
                    </div>
                    <p>
                        Only PNG,GIF,JPG,JEPG files allowed.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
