<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row show-grid">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Create a Poll</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class=" form-group"><label>Title</label> <input type="text"
                                                                         ng-model="createdPoll.title"
                                                                         placeholder="Enter a Title for your poll"
                                                                         class="form-control"
                                                                         required="">
                    </div>
                    <div class="form-group"><label>Detail</label> <textarea
                            ng-model="createdPoll.description"
                            placeholder="Enter some description for your poll"
                            class="form-control"></textarea>
                    </div>

                    <div class="form-group"><label>Just For: </label>

                        <div class="radio"><label> <input type="radio" value="friends" id="friendsRadio"
                                                          ng-checked="true"
                                                          name="privacyRadios"
                                                          ng-model="createdPoll.pollPrivacy">Friends</label>
                        </div>
                        <div class=" radio"><label> <input type="radio" value="public" id="publicRadio"
                                                           name="privacyRadios"
                                                           ng-model="createdPoll.pollPrivacy">Public</label>
                        </div>
                        <select class="form-control MultiSelect" data-placeholder="Roles"
                                ng-model="createdPoll.pollRoles"
                                ng-options="roles for roles in pollRoles" multiple="multiple" multiselect-dropdown>
                        </select>
                    </div>

                    <div class="form-group"><label>End Date</label>

                        <div class='input-group date'><input type='datetime' class='form-control' date-time
                                                             ng-model='createdPoll.endDate' view='date'
                                                             required=""><span
                                class='input-group-addon'><i class='fa fa-calendar'></i></span></div>

                    </div>

                    <div class="form-poll"><label>Options</label>


                        <div class="form-group">
                            <div class="panel pre-scrollable"
                                 ng-hide="isPollObjectEmpty(createdPoll.pollOptions)">
                                <div class="panel-body">
                                    <ul class="list-group"
                                        ng-repeat="option in createdPoll.pollOptions">

                                        <li class="list-group-item">

                                            <form name='vote'>

                                                <a class="pull-right btn btn-white btn-xs" data-nodrag
                                                   ng-click="removePollOption(option.optionId)"
                                                   ng-show="(isVotedTemp == false) && (pollToBeViewed == null)"><span
                                                        class="fa fa-trash"></span></a>

                                                <a class="btn btn-xs btn-white pull-right"
                                                   ng-class=" {disabled: isCurrentUserVoted()}"
                                                   ng-show="isCurrentUserVoted()"><i
                                                        class="fa fa-thumbs-up"></i>{{ option.optionVoteCount }}</a>

                                            </form>

                                            <b>{{ option.optionName }}</b> | {{ option.optionDetail }}


                                        </li>


                                    </ul>


                                </div>
                            </div>

                            <div class="form-group">

                                <form name='addOption' ng-submit="addPollOption()">

                                    <input type="text" ng-model="pollOptionTempList.optionName"
                                           placeholder="Add an option for your poll"
                                           class="form-control" required="">
                                    <input type="text" ng-model="pollOptionTempList.optionDetail"
                                           placeholder="Add a definiton for your option"
                                           class="form-control">
                                    <button type="submit" class="btn btn-primary">Add Option</button>

                                </form>

                            </div>
                        </div>
                    </div>
                    <freebase-tags tag-context="createdPoll.pollTagContext"></freebase-tags>
                    <section ng-controller="PollTabCtrl">

                        <div class="ibox-content">
                            <tabset>
                                <tab ng-click="selectTab(1)">
                                    <tab-heading>
                                        Comments
                                    </tab-heading>

                                </tab>

                                <tab ng-click="selectTab(2)">
                                    <tab-heading>
                                        Results
                                    </tab-heading>

                                </tab>
                            </tabset>
                        </div>

                        <div class="ibox-content">

                            <div class='form-group' ng-show="isSelected(1)">

                                <comment-template item-comment="createdPoll.pollComments"></comment-template>

                            </div>

                            <div class='form-group' ng-show="isSelected(2)">
                                <h4>Results</h4>

                                <comment-template item-comment="createdPoll.pollComments"></comment-template>
                            </div>


                        </div>

                    </section>


                </div>


            </div>

            <div class="col-lg-6" ng-controller="CustomTypesCtrl">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Custom Types</h5>

                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <tabset>
                            <tab ng-repeat="customType in customTypes" active="customTypeTabs[customType.id]">
                                <tab-heading>
                                    {{customType.name}}<a class="pull-right btn btn-white btn-xs" data-nodrag
                                                          ng-click="removeTab(customType)"><span
                                        class="fa fa-trash"></span></a>
                                </tab-heading>
                                <type-template type-parameter="customType"></type-template>
                            </tab>
                            <button class="btn btn-w-m btn-primary" ng-click="addCustomType()"><i
                                    class="fa fa-plus"></i>
                                Add Type
                            </button>
                        </tabset>
                    </div>
                </div>

            </div>


            <form class="col-lg-12" ng-submit="savePollData()">
                <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="fa fa-save"></i> Save Your
                    Changes
                </button>
            </form>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $('#semanticTagName').focusout(function () {

            $('#semanticTagContext').empty();
            var input_parameter = this.value;

            function getRelatedCategories(keyword, currentTopic, uniqueCat) {
                var topic_id = currentTopic;

                var service_url = 'https://www.googleapis.com/freebase/v1/topic';
                var params = {
                    'key': 'AIzaSyBfJNRIjAao3J0PZeO9ALipSJ_k9NjETwc'
                };

                $.getJSON(service_url + topic_id, params, function (topic) {

                    if (topic.property['/type/object/type'].values[0].text != 'Topic') {
                        var current_topic = topic.property['/type/object/type'].values[0].text;
                        if (uniqueCat[current_topic] == null) {

                            uniqueCat[current_topic] = "exists";
                            $('<option>', {text: current_topic, value: current_topic}).appendTo('#semanticTagContext');
                            /*return $('<option>').val(current_topic).text(current_topic);*/

                        }
                    }
                });
            }

            var service_url = 'https://www.googleapis.com/freebase/v1/search';

            var params = {
                'query': input_parameter,
                'key': 'AIzaSyBfJNRIjAao3J0PZeO9ALipSJ_k9NjETwc',
                'limit': 50
            };

            $.getJSON(service_url + '?callback=?', params, function (response) {

                var uniqueCat = {};
                $.each(response.result, function (i, result) {
                    getRelatedCategories(result['name'], result['mid'], uniqueCat);
                });
            });

        });
    });

</script>
