<div class="wrapper wrapper-content" ng-controller="ProfileCtrl">
    <div class="row animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Profile Detail</h5>
                </div>
                <div>
                    <div class="ibox-content no-padding border-left-right">
                        <img alt="image" class="img-responsive" src="{{main.currentUserData.userImage}}">
                    </div>
                    <div class="ibox-content profile-content">

                        <div class=" form-group"><label>Name</label> <input type="text"
                                                                            ng-model="main.currentUserData.userName"
                                                                            placeholder="Your name..."
                                                                            class="form-control"
                                                                            required="">
                        </div>

                        <div class=" form-group"><label>Last Name</label> <input type="text"
                                                                            ng-model="main.currentUserData.userLastName"
                                                                            placeholder="Your last name..."
                                                                            class="form-control"
                                                                            required="">
                        </div>

                        <div><button class="btn btn-w-m btn-warning" ng-hide="showDetail" ng-click="showDetail=!showDetail;">
                            <i class="fa fa-arrow-down pull-left"></i> Show Details
                        </button> &nbsp;
                        <button class="btn btn-w-m btn-warning" ng-show="showDetail" ng-click="showDetail=!showDetail;">
                            <i class="fa fa-arrow-up pull-left"></i> Hide Details
                        </button> &nbsp;
                        </div>
                        <div class=" form-group" ng-show="showDetail"><label>E-Mail</label> <input type="text"
                                                                                                   ng-model="main.currentUserData.email"
                                                                                                   placeholder="Your email address..."
                                                                                                   class="form-control"
                                                                                                   required="">
                        </div>

                        <div class=" form-group" ng-show="showDetail"><label>Admin Status</label> {{main.currentUserData.isAdmin?"Admin":"Not Admin"}}
                        </div>

                        <div class=" form-group" ng-show="showDetail"><label>Role</label> {{main.currentUserData.role}}
                        </div>

                        <div class=" form-group"><label>Write Something About Your Self</label> <textarea
                                                                                 ng-model="main.currentUserData.description"
                                                                                 placeholder="Here goes something"
                                                                                 class="form-control"
                                                                                 required=""></textarea>
                        </div>
                        <div class=" form-group">
                            <h3>You are Interested in</h3>
                            <div ng-repeat="(context,interestedTimes) in main.currentUserData.contexts" style="display: inline">
                                <button class="btn btn-w-m btn-warning" ng-click="alert(context)"><i
                                        class="fa fa-star pull-left"></i>{{context}}
                                </button> &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>Recommended People
                            <small>You may want to be friend with these people.</small>
                        </h3>
                    </div>
                    <div class="ibox-content">
                        <div class="feed-activity-list" >
                            <div ng-repeat="item in people" ng-class="getClass(item.value)" >

                                <a ui-sref="profile.specificUser({userToBeViewed: item.key})" class="pull-left">
                                    <img alt="image" class="img-circle" src="{{item.value.userImageSmall}}">
                                </a>

                                <div class="media-body ">
                                    <strong>{{item.value.userName}}</strong>
                                    <div class="well">
                                        {{item.value.description }}
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm pull-right " ><i class="fa fa-plus"></i>Follow</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>