<div class="wrapper wrapper-content" ng-controller="ProfileViewCtrl">
    <div class="row animated fadeInRight">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Profile Detail</h5>
                </div>
                <div class="ibox-content">
                    <img alt="image" class="img-responsive" src="{{specificUserImage}}">
                </div>
                <div class="ibox-content profile-content">

                    <dl class="dd-list">

                        <dt>Name:</dt>
                        <dd>{{specificUserName}}</dd>
                        <br>
                        <dt>Last Name:</dt>
                        <dd>{{specificUserLastName}}</dd>

                    </dl>
                    <br>

                    <div>
                        <button class="btn btn-w-m btn-primary" ng-hide="showDetail"
                                ng-click="showDetail=!showDetail;">
                            <i class="fa fa-arrow-down pull-left"></i> Show Details
                        </button>
                        <button class="btn btn-w-m btn-default-focus" ng-show="showDetail"
                                ng-click="showDetail=!showDetail;">
                            <i class="fa fa-arrow-up pull-left"></i> Hide Details
                        </button>
                    </div>
                    <br>

                    <dl class="dd-list" ng-show="showDetail">

                        <dt>E-mail:</dt>
                        <dd>{{specificEmail}}</dd>
                        <br>
                        <dt>User Status:</dt>
                        <dd>{{specificIsAdmin?"Admin":"Member"}}</dd>
                        <br>
                        <dt>Role:</dt>
                        <dd>{{specificRole}}</dd>
                        <br>
                        <dt>About:</dt>
                        <dd>{{specificDescription}}</dd>

                    </dl>

                    <br>

                    <div class=" form-group">
                        <h3>Interested in</h3>

                        <div ng-repeat="(context,interestedTimes) in specificContexts" style="display: inline">
                            <button class="btn btn-w-m btn-warning" ng-click="alert(context)"><i
                                    class="fa fa-star pull-left"></i>{{context}}
                            </button>
                            &nbsp;
                        </div>
                    </div>

                </div>

                <div class="ibox-content profile-content">


                    <a class="btn btn-lg btn-primary pull-right"
                       ng-click="addFriend()"
                       ng-hide="isCurrentUserFriend()"><i
                            class="fa fa-thumbs-up"></i>Join</a>

                    <a class="btn btn-lg btn-danger pull-right"
                       ng-click="ignoreFriend()"
                       ng-show="isCurrentUserFriend()"><i
                            class="fa fa-thumbs-down"></i>Leave</a>
                    <br><br>


                </div>
            </div>
        </div>
    </div>
</div>